# (연습) 프로그래밍 맛보기

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

**문제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정하라.
오류가 발생하지 않으면 실행 결과를 설명한다.

(1)

In [ ]:
print("Hello World)

In [1]:
# 코드를 작성한다.
# 오류원인 : 큰따옴표를 붙이지 않음
print("Hello World")

Hello World

(2)

In [2]:
print(21 8)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-2-cdfda1e99280>, line 1)

In [4]:
# 코드를 작성한다.
# 오류원인 : 쉼표가 있어야한다.
print(21,8)

21 8

(3)

# 새 섹션

In [ ]:
print(2++2)

In [5]:
# 코드를 작성한다.
# 오류원인 : +가 하나만 있어야한다.
print(2+2)

4

**문제 2**

변수 할당 명령문과 관련하여 주의해야할 점들을 다룬다. 아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

(1)

In [45]:
x = 2;

In [48]:
# 코드를 작성한다.
# 오류원인 : 없음 , 주로 세미콜론은 한줄에 여러개의 python 명령어를 사용할 때 구분시 사용

(2)

In [24]:
z = x y

SyntaxError: invalid syntax (<ipython-input-24-c185002cb352>, line 1)

In [43]:
# 코드를 작성한다.
#오류원인 : 공백으로 구분된 두 값은 연산자가 아니므로 잘못된 코드이다.(구문 오류)
x= 10
y= 2
z= x+y

(3)

In [27]:
even = 3
odd = 17
print(even + oddd)

NameError: name 'oddd' is not defined

In [10]:
# 코드를 작성한다.
# print에서 odd인데 oddd로 오타가 났다.
even = 3
odd = 17
print(even + odd)

20

(4)

In [16]:
x = 3
zero = 0

print(x/zero)

ZeroDivisionError: division by zero

In [28]:
# 코드를 작성한다.
# 어떤 수를 0으로 나누려고 하면 ZeroDivisionError라는 오류가 뜬다.
# 해결방법은 try - except문을 사용하면된다.
x = 3
zero = 0

try:
  result = x/zero
except ZeroDivisionError:
  print("0으로 나눌 수 없습니다.")

#또는 0으로 나누지 않도록 조건문을 추가하는 방법도 있다.
x = 3
zero = 0

if zero !=0:
  result = x/zero
else:
  print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.
0으로 나눌 수 없습니다.

**문제 3**

언급된 값을 표현하는 수식을 표현한 다음에 실행하라.

(1) 정수 13에서 정수 19 빼기

힌트: 뺄셈 연산자를 활용한다.

In [9]:
# 코드를 작성한다.
print(13-19)

-6

(2) 정수 81을 정수 3으로 나누기

힌트: 나눗셈 연산자를 활용한다.

In [31]:
# 코드를 작성한다.
print(81/3)

27.0

(3) 정수 100을 정수 7로 나눈 나머지

힌트: 나머지 연산자를 활용한다.

In [32]:
# 코드를 작성한다.
print(100%7)

2

(4) 정수 7.2의 세제곱

힌트: 거듭제곱 연산자를 활용한다.

In [34]:
# 코드를 작성한다.
print(7.2**3)

373.24800000000005

**문제 4**

먼저 아래와 같이 두 개의 변수를 선언한다.

In [ ]:
width = 17
height = 12.0

언급된 값을 표현하는 수식을 두 변수를 이용하여 표현한 다음에 실행하여라.

(1) width를 2로 나눗 몫

In [35]:
# 코드를 작성한다.
width = 17
height = 12.0

print(width//2)

8

(2) width 나누기 2

In [36]:
# 코드를 작성한다.
width = 17
height = 12.0

print(width/2)

8.5

(3) width 나누기 2.0

In [37]:
# 코드를 작성한다.
width = 17
height = 12.0

print(width/2.0)

8.5

(4) height 나누기 3

In [38]:
# 코드를 작성한다.
width = 17
height = 12.0

print(height/3)

4.0

(5) 2 곱하기 5에 1 더하기

In [41]:
# 코드를 작성한다.
width = 17
height = 12.0

print(2*5+1)

11

(6) 2 곱하기 5에 1.0 더하기

In [42]:
# 코드를 작성한다.
width = 17
height = 12.0

print(2*5+1.0)

11.0

**문제 5**

오전 6시 52분에 집을 떠나서, 가볍게 (km당 8분 15초 소요) 1km를 뛰고,
이어서 좀 빠르게 (km당 7분 12초 소요) 3km를 뛴 후, 다시 가볍게 1km를 마저 달려 집으로 돌아오면
집에 도착하는 시간을 계산하여 아래처럼 출력하는 코드를 작성하라.

    집에 도착 시간: 7 시 30 분 6 초

힌트: 정수 나눗셈의 몫과 나머지 연산자 활용

In [49]:
# 코드를 작성한다.
시 = 6
분 = 52
print(분+8.15)

60.15